
<header id="main-header">
		
    <a id="logo-header" href="#">
        <span class="site-name">FranciscoAMK</span>
        <span class="site-desc">Diseño web / WordPress / Tutoriales</span>
    </a> <!-- / #logo-header -->
    
    <nav>
        <div class="d-flex justify-content-center flex-row mb-2">
            <div class="p-2">
                <ul>
                    <li><h3 (click)="homeRedirect()">Inicio</h3></li>
                    <li><h3 (click)="productsRedirect()">Productos</h3></li>
                    <li><h3 (click)="proyectsRedirect()">Proyectos</h3></li>
                    <li><h3 (click)="usRedirect()">Por que nosotros</h3></li>   
                </ul>
                
            </div>
            <div class="p-2">
                <button class="contactButton" (click)="whatsappRedirect('https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202.')">Contactanos</button>
            </div>            
            
        </div>        
    </nav><!-- / nav -->


    

</header><!-- / #main-header -->
    
