
    <div class="parent">
        <div class="footerNav">
            <div class="d-flex flex-row mb-4">
                <div class="p-4">
                    <div class="footerContactDiv">
                        <h4 class="footerContactDivTitle">Contacto</h4>
                        <p class="footerContact">
                            Carrera 10 No. 97A - 13 <br>
                            Torre B - Oficina 304<br>
                            Bogotá D. C.<br>
                            (+57) 314 2938934<br>
                            (601) 6109114
                        </p>
                        <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">Whatsapp</a>
                    </div> 
                </div>
                <div class="p-4">
                    <div class="footerProductsDiv" >
                        <h4 class="footerProductsDivTitle">Productos</h4>
                        <div *ngFor="let use of uses">
                            <p (click)="productsUseRedirect(use.id)" class="footerProducts">
                                {{use.name}}
                            </p>
                        </div>
                    </div> 
                </div> 
                <div class="p-4">
                    <div class="footerWhyUsDiv">
                        <h4 class="footerWhyUsDivTitle">Proyectos</h4>
                        <p class="footerWhyUs">
                            Chia<br>
                            Cajica<br>
                            Tocancipa<br>
                            Nemocon
                        </p>
                    </div> 
                </div>
                <div class="p-4 flex-grow-1">
                    <div class="footerDescriptionDiv">
                        <ic-icon icon="home"></ic-icon>
                        <h4>Arcilla</h4>
                        <p class="footerDescription">
                            Productos arquitectónicos en concreto para proyectos, con materiales de construcción amigables con el medio ambiente y procesos tecnológicos avanzados.
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="footerBottom">
                <p>Frase</p>
            </div>
        </div>
    </div>

